<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
    <title>@ViewData["Title"] - HOTEL.BOOKING</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/font-awesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/hotel-booking-appearance.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Blog.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/login-modal-hotel.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-12 d-flex justify-content-end align-items-center">
                    <a href="" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#loginModal">
                        Sign up
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div class="hotel-body">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2563 - HOTEL.BOOKING - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/hotel.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
